<div>
  Account: <%= @account.saltedge_id %>
  <br>
  <%= link_to "Back to connection", @account.connection %>
</div>

<div>
  <% if @transactions.present? %>
    <h3>Transactions</h3>
    <table>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.saltedge_id %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>no transactions</p>
  <% end %>
</div>
